<html>
<header>
<title>Iris</title>
<link rel="stylesheet" href="{{url_for(endpoint='static', filename='style.
css')}}">
</header>
<body>
<h1> A simple Flask app to predict iris flower species</h1>
<h2> features </h2>
<form method="post" action="http://127.0.0.5:6300/form">
<span>petal length </span>
<input type="number" placeholder="1.0" step="0.01" min="0" max="10" name="value1"><br>
<span>petal width </span>
<input type="number" placeholder="1.0" step="0.01" min="0" max="10" name="value2"><br>
<span>sepal length </span>
<input type="number" placeholder="1.0" step="0.01" min="0" max="10" name="value3"><br>
<span>sepal width </span>
<input type="number" placeholder="1.0" step="0.01" min="0" max="10" name="value4"><br>
<input type="submit" name="Add">
</form>
</body>
</html>
